@import "../theme/colors.scss";

@mixin button {
    font-weight: bold;
    padding: 1rem 2rem;
    border-width: 1.5px;
    border-radius: 8px;
    border-style: solid;
    font-size: 14px;
    cursor: pointer;
    height: fit-content;
    outline: none;
    display: flex; justify-content: center; align-items: center; gap: .5rem;
    img { width: 20px;}
    &:hover { transition-duration: .2s; }
    &:active { transform: scale(.9); }
}

.btn-primary {
    @include button;
    background-color: $primary;
    color: #fff;
    border-color: $primary;
    &:hover { background-color: $primary-hover; }
    &:disabled { background-color: $primary-disabled; }
}

.btn-secondary {
    @include button;
    background-color: $secondary;
    color: $primary!important;
    border-color: $primary;
    &:hover { background-color: $secondary-hover; }
    &:disabled { background-color: $secondary-disabled; }
}  

.disabled {
    @include button;
    background-color: gray;
    color: #fff;
    border-color: gray;
    &:active { transform: scale(1!important); }
    &:focus { transform: scale(1!important); }
}