$primary: orange;
$primary-hover: darken($primary, 10%);
$primary-disabled: lighten($primary, 30%);

$secondary: white;
$secondary-hover: darken($secondary, 10%);
$secondary-disabled: lighten($secondary, 30%);