<div id="hamburger" class="center">
    <div class="container-center">
        <h1 id="title" class="special-gothic-400 m0">Quotes</h1>
        <p id="slogan" class="m0">Trova la frase giusta, al momento giusto.</p>
    </div>
    <div id="searchbar">
        <app-searchbar/>
    </div>
</div>

<h2>Citazioni suggerite</h2>

<div class="splide" #splideRef>
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <blockquote>
            “La logica ti porta da A a B, l’immaginazione ovunque.”
            <footer>— Albert Einstein</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “Sii te stesso; tutti gli altri sono già occupati.”
            <footer>— Oscar Wilde</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “Non è perché le cose sono difficili che non osiamo farle.”
            <footer>— Seneca</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “La logica ti porta da A a B, l’immaginazione ovunque.”
            <footer>— Albert Einstein</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “Sii te stesso; tutti gli altri sono già occupati.”
            <footer>— Oscar Wilde</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “Non è perché le cose sono difficili che non osiamo farle.”
            <footer>— Seneca</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “La logica ti porta da A a B, l’immaginazione ovunque.”
            <footer>— Albert Einstein</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “Sii te stesso; tutti gli altri sono già occupati.”
            <footer>— Oscar Wilde</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “Non è perché le cose sono difficili che non osiamo farle.”
            <footer>— Seneca</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “La logica ti porta da A a B, l’immaginazione ovunque.”
            <footer>— Albert Einstein</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “Sii te stesso; tutti gli altri sono già occupati.”
            <footer>— Oscar Wilde</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “Non è perché le cose sono difficili che non osiamo farle.”
            <footer>— Seneca</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “La logica ti porta da A a B, l’immaginazione ovunque.”
            <footer>— Albert Einstein</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “Sii te stesso; tutti gli altri sono già occupati.”
            <footer>— Oscar Wilde</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “Non è perché le cose sono difficili che non osiamo farle.”
            <footer>— Seneca</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “La logica ti porta da A a B, l’immaginazione ovunque.”
            <footer>— Albert Einstein</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “Sii te stesso; tutti gli altri sono già occupati.”
            <footer>— Oscar Wilde</footer>
          </blockquote>
        </li>
        <li class="splide__slide">
          <blockquote>
            “Non è perché le cose sono difficili che non osiamo farle.”
            <footer>— Seneca</footer>
          </blockquote>
        </li>
      </ul>
    </div>
  </div>

@if(quotes.isLoading()) {
    Caricamento...
}
@if(quotes.error()) {
    Errore: {{ quotes.error() }}
}

<ul *ngIf="quotes.value() as quoteList">
    <li *ngFor="let quote of quoteList">
        "{{ quote.q }}"<br />
        <small>— <b>{{ quote.a }}</b></small>
    </li>
</ul>

<button (click)="quotes.reload()">Ricarica</button>