@import '../../../assets/theme/typography.scss';

ul {
    list-style-type: none;
    li { margin-bottom: 2rem;}
}

#hamburger {
    height: 40dvh; width: 100%;
    background-image: url('../../../assets/bg-hamburger/vackground-com-iSaDQdcPozk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    h1, p { color: white;}

    h1 { font-size: 80px;} 
    p { font-weight: bold;font-size: 24px;}

    #searchbar {
        position: absolute; bottom: -2rem;
    }

}

/* From Uiverse.io by alexruix */ 
.card {
    width: 190px;
    width: fit-content;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   //colore per la delete
   //background-color: #ff6347;
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    color: #fff;
    background-color: #2ecc71;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #2ecc71;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

